Repository polkadot-js/apps, pull requests merged in 2019-02, with the labels that each got.

#702 Bump API
  packages/ui-api/package.json
  packages/ui-app/package.json
  packages/ui-reactive/package.json
  yarn.lock
Labels: insubstantial

#704 Bump API
  packages/ui-api/package.json
  packages/ui-app/package.json
  packages/ui-reactive/package.json
  yarn.lock
Labels: insubstantial

#720 Bump deps
  package.json
  packages/app-accounts/package.json
  packages/apps/package.json
  packages/ui-api/package.json
  packages/ui-app/package.json
  packages/ui-reactive/package.json
  yarn.lock
Labels: insubstantial

#718 Save code snippets to local storage
  packages/app-js/src/Editor.tsx
  packages/app-js/src/LocalStorage.tsx
  packages/app-js/src/constants.tsx
  packages/app-js/src/index.css
  packages/app-js/src/index.tsx
  packages/app-js/src/snippets/rpc-examples.ts
  packages/app-js/src/snippets/storage-examples.ts
  packages/app-js/src/snippets/wrapping.ts
  packages/app-js/src/types.ts
  packages/ui-app/src/Input.tsx
  packages/ui-app/src/styles/semantic.css
  yarn.lock
Labels: @app-js

#731 Populate example name to input for custom examples
  packages/app-js/src/LocalStorage.tsx
  packages/app-js/src/index.tsx
Labels: @app-js, enhancement

#740 Share functionality for app-js api playground
  packages/app-js/src/ActionButtons.tsx
  packages/app-js/src/LocalStorage.tsx
  packages/app-js/src/Playground.tsx
  packages/app-js/src/index.css
  packages/app-js/src/index.tsx
  packages/app-js/src/snippets/wrapping.ts
  packages/app-js/src/types.ts
  packages/ui-app/src/Dropdown.tsx
  yarn.lock
Labels: @app-js

#756 Smaller quick-fixes for app-js
  packages/app-js/src/Playground.tsx
  packages/app-js/src/index.css
  packages/app-js/src/index.tsx
Labels: @app-js

#755 Compress code with snappyjs
  packages/app-js/package.json
  packages/app-js/src/Playground.tsx
  packages/app-js/src/snappyjs.d.ts
  yarn.lock
Labels: @app-js

#757 Bump deps
  package.json
  packages/apps/package.json
  packages/apps/webpack.config.js
  packages/ui-api/package.json
  packages/ui-app/package.json
  yarn.lock
Labels: insubstantial
