Repository polkadot-js/apps, pull requests merged in 2021-01, with the labels that each got.

#4320 Initiate voting from bounty list - accept / reject bounty
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/app-treasury.json
  packages/page-bounties/src/Bounties.tsx
  packages/page-bounties/src/Bounty.tsx
  packages/page-bounties/src/BountyActions.tsx
  packages/page-bounties/src/BountyInitiateVoting.tsx
  packages/page-treasury/src/Overview/Council.tsx
Labels: @app-bounties

#4336 Add bounties summary
  packages/apps/public/locales/en/app-bounties.json
  packages/page-bounties/src/Bounties.tsx
  packages/page-bounties/src/Summary.tsx
  packages/page-treasury/src/Overview/Summary.tsx
  packages/react-hooks/src/useTreasury.ts
Labels: @app-bounties

#4361 Remove colon from win path
  packages/apps-electron/src/main/account-store.ts
Labels: @apps-electron

#4372 Parachain proposals
  package.json
  packages/page-accounts/package.json
  packages/page-contracts/package.json
  packages/page-parachains/src/Overview/Actions.tsx
  packages/page-parachains/src/Overview/Parachain.tsx
  packages/page-parachains/src/Overview/ParachainList.tsx
  packages/page-parachains/src/Overview/Proposal.tsx
  packages/page-parachains/src/Overview/Proposals.tsx
  packages/page-parachains/src/Overview/Upcoming.tsx
  packages/page-parachains/src/Overview/index.tsx
  packages/page-parachains/src/Overview/types.tsx
  packages/page-parachains/src/Overview/useProposals.ts
  packages/page-parachains/src/Overview/util.ts
  packages/page-parachains/src/modals/Propose.tsx
  packages/react-api/package.json
  yarn.lock
Labels: WIP

#4396 Render extended statuses when voting on bounty
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/translation.json
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/Bounty.tsx
  packages/page-bounties/src/VotingDescription.tsx
  packages/page-bounties/src/helpers/extendedStatuses.ts
Labels: @app-bounties

#4417 Add propose curator action
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/translation.json
  packages/page-bounties/src/Bounties.slow.spec.tsx
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/Bounty.tsx
  packages/page-bounties/src/BountyActions.tsx
  packages/page-bounties/src/BountyCreate.tsx
  packages/page-bounties/src/ProposeCuratorAction.tsx
  packages/page-bounties/src/helpers/index.tsx
  packages/page-bounties/src/helpers/truncateTitle.spec.ts
  packages/page-bounties/src/helpers/truncateTitle.ts
  packages/page-bounties/src/hooks/useBounties.tsx
Labels: @app-bounties

#4421 Sort bounties in descending order
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/Bounties.tsx
  packages/page-bounties/src/Bounty.tsx
Labels: @app-bounties

#4445 Add extend bounty action
  packages/apps/public/locales/en/app-bounties.json
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/Bounty.tsx
  packages/page-bounties/src/BountyActions.tsx
  packages/page-bounties/src/BountyClaimAction.tsx
  packages/page-bounties/src/BountyCuratorProposedActions.tsx
  packages/page-bounties/src/BountyInitiateVoting.tsx
  packages/page-bounties/src/ExtendBountyExpiryAction.tsx
  packages/page-bounties/src/ProposeCuratorAction.tsx
  packages/page-bounties/src/helpers/truncateTitle.ts
  packages/page-bounties/src/hooks/useBounties.tsx
Labels: @app-bounties

#4447 Fix #4419 - using bounties without treasury
  packages/react-hooks/src/useTreasury.ts
Labels: @app-bounties

#4450 Add tooltips for bounty status
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/translation.json
  packages/page-bounties/src/Bounty.tsx
  packages/page-bounties/src/BountyStatusView.tsx
  packages/page-bounties/src/VotingDescription.tsx
  packages/page-bounties/src/helpers/extendedStatuses.ts
  packages/page-bounties/src/helpers/getBountyStatus.spec.ts
  packages/page-bounties/src/helpers/getBountyStatus.ts
  packages/page-bounties/src/helpers/index.tsx
  packages/page-bounties/src/helpers/stringHelpers.ts
  packages/page-bounties/src/helpers/truncateTitle.spec.ts
  packages/page-bounties/src/types.ts
Labels: @app-bounties

#4460 Adjust components placement in bounties list
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/translation.json
  packages/apps/src/themes.ts
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/Bounties.tsx
  packages/page-bounties/src/Bounty.tsx
  packages/page-bounties/src/BountyClaimAction.tsx
  packages/page-bounties/src/BountyInfos.tsx
  packages/page-bounties/src/BountyStatusView.tsx
  packages/page-bounties/src/Description.tsx
  packages/page-bounties/src/Summary.tsx
  packages/page-bounties/src/Voting/ExtendedStatus.tsx
  packages/page-bounties/src/Voting/VotersColumn.tsx
  packages/page-bounties/src/Voting/VotingSummary.tsx
  packages/page-bounties/src/VotingDescription.tsx
  packages/page-bounties/src/hooks/useBounties.tsx
  packages/page-bounties/src/index.tsx
  packages/page-bounties/test/hooks/defaults.ts
  packages/page-treasury/src/Overview/Summary.tsx
  packages/react-components/src/Table/Head.tsx
  packages/react-components/src/Table/index.tsx
  packages/react-components/src/types.ts
  packages/react-hooks/src/index.ts
  packages/test-support/src/api/createAugmentedApi.ts
  packages/test-support/src/api/index.ts
  packages/test-support/src/creation/balance.ts
  packages/test-support/src/creation/bounties/bountyFactory.ts
Labels: @app-bounties

#4499 Add slash curator action
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/translation.json
  packages/page-bounties/src/Bounties.slow.spec.tsx
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/BountyActions/BountyClaimAction.tsx
  packages/page-bounties/src/BountyActions/BountyCuratorProposedActions.tsx
  packages/page-bounties/src/BountyActions/BountyInitiateVoting.tsx
  packages/page-bounties/src/BountyActions/CloseBounty.tsx
  packages/page-bounties/src/BountyActions/ExtendBountyExpiryAction.tsx
  packages/page-bounties/src/BountyActions/ProposeCuratorAction.tsx
  packages/page-bounties/src/BountyActions/SlashCurator.tsx
  packages/page-bounties/src/BountyActions/index.tsx
  packages/page-bounties/src/helpers/determineUnassignCuratorAction.spec.ts
  packages/page-bounties/src/helpers/determineUnassignCuratorAction.ts
  packages/page-bounties/src/helpers/index.tsx
  packages/page-bounties/src/helpers/isClaimable.ts
  packages/page-bounties/src/hooks/index.ts
  packages/page-bounties/src/hooks/useUserRole.ts
  packages/page-bounties/src/translate.ts
  packages/page-bounties/src/types.ts
  packages/page-bounties/test/hooks/defaults.ts
  packages/test-support/src/creation/bounties/bountyFactory.ts
Labels: @app-bounties

#4501 Award beneficiary action
  packages/apps/public/locales/en/app-bounties.json
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/BountyActions/AwardBounty.tsx
  packages/page-bounties/src/BountyActions/index.tsx
  packages/page-bounties/src/hooks/useBounties.tsx
  packages/page-bounties/test/hooks/defaults.ts
Labels: @app-bounties

#4500 Hide bounty unhappy path actions
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/translation.json
  packages/page-bounties/src/Bounties.spec.tsx
  packages/page-bounties/src/Bounty.tsx
  packages/page-bounties/src/BountyAcceptCurator.tsx
  packages/page-bounties/src/BountyActions/CloseBounty.tsx
  packages/page-bounties/src/BountyActions/ExtendBountyExpiryAction.tsx
  packages/page-bounties/src/BountyActions/SlashCurator.tsx
  packages/page-bounties/src/BountyActions/index.tsx
  packages/page-bounties/src/BountyExtraActions.tsx
  packages/page-bounties/src/BountyRejectCurator.tsx
  packages/page-bounties/src/Voting/VotersColumn.tsx
  packages/page-bounties/src/helpers/determineUnassignCuratorAction.spec.ts
  packages/page-bounties/src/helpers/determineUnassignCuratorAction.ts
  packages/page-bounties/src/hooks/index.ts
  packages/page-bounties/src/hooks/useBountyStatus.ts
  packages/page-bounties/src/hooks/useUserRole.ts
  packages/page-bounties/test/utils/clickButtonWithName.ts
  packages/page-bounties/test/utils/clickElementWithTestId.ts
  packages/page-bounties/test/utils/clickElementWithText.ts
  packages/react-components/src/Button/Button.tsx
  packages/react-components/src/Button/types.ts
  packages/test-support/src/creation/bounties/bountyFactory.ts
Labels: @app-bounties

#4521 Use utility batch in scripts
  packages/test-support/scripts/createBounties.ts
  packages/test-support/scripts/lib/changeBountyStateFunctions.ts
  packages/test-support/scripts/lib/helpers.ts
  packages/test-support/scripts/lib/multiFunctions.ts
Labels: @app-bounties

#4527 Display bounty ID
  packages/apps/public/locales/en/app-bounties.json
  packages/apps/public/locales/en/translation.json
  packages/page-bounties/src/Bounty.tsx
Labels: @app-bounties
